<% provide(:title, 'Avantages') %>
<div>
<h1>Avantages</h1>
<div class="center">
<%= image_tag("idathletique/avantages.png") %>
</div>
</br>
<h5><p>Avantages de la solution ADN</p></h5>
<ul>
<li><p>ADN inclus une évaluation fonctionnelle qui permet de créer une base au niveau des prérequis pour vos athlètes</p></li>
<li><p>Programme d’exercices correctifs intégrés afin de réduire les restrictions et ainsi réduire les risques de blessure</p></li>
<li><p>Possibilité de créer des évaluations techniques -tactiques et physiques pour différents sports</p></li>
<li><p>Une application web permettant d’inscrire différents types de  blessures au dossier de l’athlète. En quelques clics, la blessure pourra être ajoutée au dossier de l’athlète et consulter par les personnes autorisées. Le partage d'information n’aura jamais été aussi simple.</p></li>
<li><p>Information Centralisé : </p><ul>
	<li><p>Fiche complète de chaque athlète</li></p>
	<li><p>Restrictions et progressions</li></p>
	<li><p>Résultats évaluations fonctionnelles/physiques</li></p>
	<li><p>Tendances des restrictions par sexe/groupe d’âge</li></p>
	<li><p>Résultats évaluations techniques/tactiques</li></p>
	<li><p>Historique des blessures</li></p>
	<li><p>Programmes d’entrainement / réhabilitation</li></p>
</ul>
<p>Le système est conçu pour que tous les membres de l'organisation : directeurs, entraîneurs et professionnels de la santé puissent avoir accès à de l'information centralisée, à tout heure de la journée.</p>
<p>Chaque utilisateur a son rôle à jouer dans le fonctionnement du système, qui s'en trouve ainsi optimisé.</p></ul>
<p>La solution ADN permet une multitude d’actions possibles:</p>
<%= image_tag("idathletique/Roles.gif") %>





