<% provide(:title, 'Decouvrir') %>

<div>
  <p><h5><b>Qu'est-ce que la solution ADN ?</b></h5></p>
  <p>ADN est à la fois un service et une plateforme web qui vous permet de collecter, analyser et utiliser différentes
    données en lien avec le sport autant récréatif que compétitif.</p>

  <p>Nous vous offrons ainsi une solution qui vous permettra de <b>Simplifier</b>, <b>Synthétiser</b> et
    <b>Systématiser</b> l’information concernant le développement à long terme de l'athlète.</p>

  <p>Cette solution unique est orientée afin de promouvoir des décisions proactives en matière de santé, de prévention
    de blessure et de performance sportive.</p>
  <br/>

  <p>
    <b>Notre mission est de munir les athlètes de connaissances, afin qu'ils puissent pleinement participer aux prises de
      décisions concernant leur santé et leur réussite.</b></p>
  <br/>
  <br/>

  <div class="center">
    <%= image_tag("idathletique/decouvrir.png") %>
  </div>
  <br/>
  <br/>

  <p>La solution ADN est un produit développé pour les:</p>
  <ul>
    <li>Associations/clubs sportifs</li>
    <li>Équipes sportives</li>
    <li>Écoles primaires</li>
    <li>Écoles secondaires</li>
    <li>Écoles collégiales</li>
    <li>Universités</li>
    <li>Professionnel de la santé</li>
  </ul>
  </p>
</div>