<div style="padding-right:15px; padding-left:15px;">
<p><h2 class="text-center">Politique de confidentialité</h2></p>

<p>Le présent énoncé de confidentialité entre en vigueur le 1 Juin 2014.</p>


<p><b>Solution ADN</b> s’engage à protéger la confidentialité de vos renseignements, y compris celle de vos renseignements personnels. Le présent énoncé de confidentialité décrit les politiques de confidentialité qui s’appliquent au site Web <b>SolutionADN.com</b>.</p>

<p>Par le présent énoncé de confidentialité, <b>SolutionADN.com</b> accepte de se conformer à la Loi sur la protection des renseignements personnels et les documents électroniques (Canada) et à la Loi sur la protection des renseignements personnels dans le secteur privé (Québec) (collectivement, la « loi »).</p>

<p><b>SolutionADN.com</b>. doit se conformer aux exigences de la loi en matière de renseignements personnels, c’est-à-dire toute information concernant une personne physique et permettant d’identifier cette dernière.</p>

<p><b>SolutionADN.com</b> est responsable des renseignements personnels dont elle assure la gestion.</p>

<p><b><h4>1. Collecte de renseignements<h4></b></p>

<p><b>SolutionADN.com</b> offre une gamme d’applications et de services (les « services »). <b>SolutionADN.com</b> recueille des renseignements sur les personnes qui visitent le site Web <b>SolutionADN.com</b> (les « visiteurs ») et les personnes qui s’inscrivent pour bénéficier des services (les « utilisateurs »).
Si vous désirez obtenir de plus amples renseignements sur les services ou l’inscription à ceux-ci, <b>SolutionADN.com</b> vous demandera de lui fournir vos coordonnées, telles que votre nom, le nom de votre école ou organisation, votre sport, votre numéro de téléphone et votre adresse courriel (« coordonnées obligatoires »). Si vous vous inscrivez pour bénéficier des services, <b>SolutionADN.com</b> vous demandera de lui fournir le nom de votre École ou organisation, l’adresse courriel et le numéro téléphone d’un dirigeant. Les coordonnées obligatoires et les renseignements optionnels (comme ils figurent sur le site Web <b>SolutionADN.com</b>) sont désignés collectivement les « données sur les utilisateurs de <b>SolutionADN.com</b> ».</p>

<p><b><h4>2. Utilisation des renseignements recueillis</h4></b></p>

<p><b>SolutionADN.com</b> utilise les données sur les utilisateurs de son site Web pour fournir les services demandés. À titre d’exemple, si vous remplissez un formulaire d’inscription en ligne, <b>SolutionADN.com</b> utilisera les renseignements fournis pour communiquer avec vous à propos de votre intérêt pour ses services.</p>

<p><b>SolutionADN.com</b> peut également utiliser les données sur les utilisateurs de son site Web aux fins de marketing. Ainsi, <b>SolutionADN.com</b> pourrait utiliser les renseignements fournis pour communiquer avec vous et discuter plus longuement de votre intérêt pour ses services, ou encore pour vous faire part de renseignements concernant <b>SolutionADN.com</b>, notamment des promotions ou des évènements.</p>

<p>Tout employé de <b>SolutionADN.com</b> qui recueille, entrepose ou utilise des renseignements personnels se voit dans l’obligation de s’assurer que ces renseignements sont recueillis, divulgués et utilisés conformément au présent énoncé de confidentialité et aux procédures applicables.</p>

<p><h4>Statistiques et concours</h4><p>

<p>Veuillez noter que nous utiliserons des informations anonymes concernant les utilisateurs de <b>solution ADN</b> à des fins de communication et de publicité concernant notre communauté d'utilisateurs. De tels communiqués pourraient contenir une analyse statistique des tendances ou des groupes existants parmi les utilisateurs du présent site, tout en conservant leur anonymat et le vôtre.</p>

<p>Il se peut que nous utilisions également, occasionnellement, vos données personnelles afin de vous offrir la chance de participer à des concours, et que nous autorisions des tierces parties à vous faire des offres similaires. Vous aurez la possibilité de vous retirer de cette correspondance. Chacun de ces concours sera régi par son propre ensemble de règles, qui vous sera communiqué lorsque la chance d'y participer vous sera offerte.</p>

<p><b><h4>3. Divulgation des renseignements recueillis</h4></b></p>

<p>Sauf dans les cas décrits au présent énoncé de confidentialité, <b>SolutionADN.com</b> n’utilise aucun renseignement personnel fourni pour servir les intérêts promotionnels de tierces parties, qu’il s’agisse de leur vendre, de leur louer ou de leur échanger les dits renseignements.</p>

<p>Les renseignements personnels ne sont pas utilisés ou divulgués à des fins autres que celles pour lesquelles ils ont été recueillis, sauf si la personne concernée a préalablement accordé son consentement ou si la loi l’autorise. <b>SolutionADN.com</b> conserve les renseignements personnels seulement pendant la période nécessaire à l’accomplissement de ces fins.</p>

<p>Cela dit, <b>SolutionADN.com</b> se réserve le droit d’utiliser ou de divulguer des renseignements si elle croit raisonnablement que leur utilisation ou leur divulgation est nécessaire pour protéger ses droits et/ou se conformer à une procédure judiciaire, à une ordonnance d’un tribunal ou à un acte de procédure.</p>

<p><b><h4>4. Correction et modification de vos renseignements</h4></b></p>

<p>Les utilisateurs peuvent actualiser ou modifier les renseignements fournis lors de l’inscription en modifiant leur dossier d’utilisateur. </p>

<p>Chaque utilisateur dont les renseignements personnels ont été recueillis par <b>SolutionADN.com</b> a le droit de modifier son dossier pour corriger des données erronées, incomplètes ou ambigües ainsi que de faire retirer les renseignements désuets et ceux qui ne servent pas les intérêts de son dossier. Il a également le droit d’écrire des commentaires et de les faire inscrire à son dossier.</p>

<p><b><h4>5. Données des utilisateurs</h4></b></p>

<p>Les utilisateurs de <b>SolutionADN.com</b>  peuvent entrer des données ou des renseignements par voie électronique lorsqu’ils utilisent les services, à des fins d’hébergement et de traitement (« données des utilisateurs »). <b>SolutionADN.com</b> ne consultera pas, ne divulguera pas, ne distribuera pas et ne fera pas connaitre les données des utilisateurs, sous réserve des conditions d’utilisation de <b>SolutionADN.com</b> et de la loi. Conformément aux conditions d’utilisation de son site Web, <b>SolutionADN.com</b> peut uniquement accéder aux données des utilisateurs dans le but de fournir les services, de prévenir ou de résoudre des problèmes liés aux services ou des problèmes techniques, de répondre à une demande de soutien aux utilisateurs ou de se conformer à la loi.</p>


<p><b><h4>6. Sécurité</h4></b></p>

<p><b>SolutionADN.com</b> utilise un système fiable et sécuritaire pour empêcher l’accès non autorisé aux données des utilisateurs, maintenir l’exactitude des données et veiller à ce que ces dernières soient utilisées à bon escient. Quand les utilisateurs accèdent aux services depuis les navigateurs Internet Explorer version 7, Firefox version 2.0, Safari version 3.0, une version ultérieure de ces trois navigateurs, ou encore Google Chrome, le protocole SSL protège leurs renseignements à l’aide de processus d’authentification du serveur et de chiffrement des données. Ainsi, les données de chaque utilisateur sont sécurisées et seulement accessibles à l’utilisateur en question ainsi qu’aux personnes autorisées par ce dernier. De plus, <b>SolutionADN.com</b> utilise une méthode de sécurité avancée fondée sur les données dynamiques et l’identification encodée pour les sessions. Le site <b>SolutionADN.com</b> est également hébergé sur un serveur sécurisé utilisant des pare-feu, des systèmes de détection d’intrusions et d’autres technologies de pointe afin de prévenir les interférences ou l’accès par des tiers. Les utilisateurs sont responsables de maintenir la sécurité et la confidentialité de leur nom d’utilisateur et de leur mot de passe sur <b>SolutionADN.com</b>.<br>
<b>SolutionADN.com</b> conserve vos renseignements dans les limites territoriales du Québec.</p>

<p><b><h4>7. Changements au présent énoncé de confidentialité</h4></b></p>

<p><b>SolutionADN.com</b> se réserve le droit de modifier le présent énoncé de confidentialité. Tout changement important fera l’objet d’un avis publié sur le site Web de <b>SolutionADN.com</b> au moins trente (30) jours ouvrables avant l’entrée en vigueur des changements.</p>

<p><b><h4>8. Nous joindre</h4></b></p>

<p>Toute question concernant le présent énoncé de confidentialité ou les pratiques liées aux renseignements personnels sur le site Web <b>SolutionADN.com</b> peut être envoyée par courriel au coordonnateur de la gestion des renseignements personnels à l’adresse suivante : <br>
info@solutionadn.com</p>
</div>