<div style="padding-right:15px; padding-left:15px;">
<p><h2 class="text-center">Conditions générales d'utilisation</h2></p>

<p>Bienvenue sur <b>SolutionADN.com</b> et merci pour accéder à nos services. </p>

<p>Les services disponibles sur et par le biais de ce site Web ( les «Services» et le «Site» ) sont fournis par <b>Solution ADN</b>.</p>

<p>Votre utilisation des Services est régie par les termes et conditions (le « Contrat» ) . En utilisant les Services, vous acceptez d'être lié par le présent accord, si vous êtes un visiteur, ce qui signifie que vous naviguez simplement sur le site ou l'une de ses applications, ou vous êtes un utilisateur avec un compte enregistré.  <b>Solution ADN</b> peut modifier cet accord de temps à autre et cette modification sera effective une fois affiché sur le site. Vous acceptez d'être lié à des modifications au présent accord lorsque vous utilisez les Services après toute modification au présent Accord a été posté. Il est donc important que vous examiniez ce Contrat régulièrement pour vous assurer que vous êtes au courant de tout changement.</p>

<p>Le terme « Utilisateur» désigne tout visiteur ou de l'utilisateur inscrit à des services, sauf disposition contraire. Vous êtes autorisé à utiliser les Services si vous vous engagez à respecter toutes les lois applicables et à la présente entente. S'il vous plaît lire attentivement cet accord et l'enregistrer. Si vous n'êtes pas d'accord avec elle, vous devez quitter le Site ou l'une de ses applications et de cesser d'utiliser les services immédiatement. Si vous souhaitez devenir un utilisateur enregistré, communiquer avec d'autres utilisateurs, et faire pleinement usage des Services, vous devez lire cet accord et indiquer votre acceptation au cours du processus d'inscription.</p>

<p>S'IL VOUS PLAÎT LIRE ATTENTIVEMENT CES CONDITIONS D'UTILISATION ATTENTIVEMENT CAR ILS CONTIENNENT DES INFORMATIONS IMPORTANTES SUR VOS DROITS, RECOURS ET OBLIGATIONS. PARMI LESQUELS LES LIMITATIONS ET EXCLUSIONS DIVERSES ET CLAUSE DE RÉSOLUTION DES LITIGES qui régit la façon litiges seront résolus.</p>

<p><b><h4>1. Admissibilité.</h4></b><p>

 <p>En utilisant les Services, vous représentez pour nous que (A) toutes les informations d'inscription que vous soumettez sont véridiques et exactes ; et (B)  votre utilisation des Services ne viole aucune loi ou règlementation applicable. Votre profil peut être supprimé et votre utilisation des Services et du site peut être résilié sans préavis ni notification à vous, si nous croyons que vous avez moins de 12 ans.</p>

<p>Mineurs<br>

Si vous êtes âgé de moins de 12 ans un parent ou tuteur doit être le gestionnaire du compte. Si vous êtes âgés de 12 ans ou plus, mais n'avez pas atteint l'âge de 16 ans ou l'âge correspondant à la majorité légale au sein de la juridiction dont vous dépendez, vous ne pouvez utiliser ce Site sans le consentement express et éclairé de vos parents ou de votre tuteur.</p>

<p><b><h4>2. Enregistrement.</h4></b></p>

<p>Lorsque vous vous inscrivez pour devenir un utilisateur, vous serez également invité à créer un mot de passe. Vous êtes entièrement responsable du maintien de la confidentialité de votre mot de passe. Vous acceptez de ne pas utiliser le compte, nom d'utilisateur, mot de passe ou d'un autre utilisateur, à tout moment ou de divulguer votre mot de passe à un tiers. Vous acceptez de nous informer immédiatement si vous suspectez une utilisation non autorisée de votre compte ou un accès à votre mot de passe. Vous êtes seul responsable de toute et toutes les utilisations de votre compte.</p>

<p>Afin de participer à certains Services, vous pouvez être averti que vous devez télécharger le logiciel ou le contenu et / ou accepter des conditions supplémentaires. Toutes ces conditions supplémentaires sont incorporées par renvoi dans le présent Accord.</p>

<p><b><h4>3. Limitée Licence.</h4></b></p>

<p><b>Solution ADN</b> vous autorise à copier des documents de ce site sur votre disque dur uniquement pour des fins de visualisation et l'utilisation des services sur votre ordinateur. Vous pouvez également imprimer des parties du site en version papier dans le seul but de faciliter votre utilisation et la conservation des renseignements à partir du site personnel et non commercial. Vous ne pouvez pas vendre ou modifier le matériel ou reproduire, afficher, exécuter publiquement , distribuer ou utiliser le matériel en aucune manière à des fins publiques ou commerciales . L'utilisation non autorisée des services à d'autres fins est interdite. Vous ne pouvez pas décompiler, désassembler, louer, prêter, vendre, concéder sous licence, créer des œuvres dérivées à partir du Site ou des Services. Et vous ne pouvez utiliser n'importe quel réseau de surveillance ou logiciel de découverte pour déterminer l'architecture du site, ou obtenir des informations sur l'utilisation ou les utilisateurs. Vous ne pouvez pas utiliser de robot, araignée ou autre dispositif automatique ou procédé manuel pour surveiller ou copier notre site ou de son contenu sans notre autorisation écrite préalable.</p>

<p><b><h4>4. Contenu Utilisateur.</h4></b></p>

<p><b>Solution ADN</b> ne revendique aucun droit de propriété dans le texte , fichiers , images , photos, vidéos, sons , œuvres musicales, les œuvres de l'auteur , ou tout autre matériel ( collectivement , «Contenu» ) que vous publiez ou téléchargez sur le Site et / ou par les Services.</p>

<p><b><h4>5.  Autre propriété intellectuelle.</h4></b></p>

<p>Le Site et les services, ainsi que certain contenu qui y sont disponibles  sont protégés par le droit d'auteur, marque, secret commercial et autres droits de propriété intellectuelle aux Canada. Vous ne pouvez pas copier, modifier, traduire, publier, diffuser, transmettre, distribuer, représenter, afficher ou vendre.</p>

<p><b><h4>6. Conduite de l'utilisateur</h4></b></p>

<p>Votre droit d'utiliser les Services est conditionnel à votre conformité avec le présent article. Vous acceptez de ne publier sur ce site ou via les Services, du Contenu Utilisateur qui est :</p>

<p>Manifestement offensif et promeut le racisme, le sectarisme, la haine ou la violence physique de toute nature contre un groupe ou un individu ; ou préconise le harcèlement d'une autre personne ou d'un groupe ; exploite les gens d'une manière sexuelle ou violente ; ou contenant de la nudité, de la violence, ou sujet offensif ou contient un lien vers un site pour adultes ;</p>

<p>sollicite des informations personnelles de tout utilisateur ; fournit tout Utilisateur numéros de téléphone, adresses, noms, d'URLs ou les adresses électroniques ; implique la transmission de « junk mail », « chaînes de lettres », ou « mailing de masse non sollicités ", " messagerie instantanée " , le "phishing ", " spimming » ou « spamming» ; contient des pages à accès restreint ou mot de passe ou des pages ou images cachées ( celles qui ne sont pas liées à une autre page accessible ) ;</p>

<p>promotion de l'information que vous savez fausse ou trompeuse ou promeut des activités ou des comportements abusifs illégaux , menaçants, obscènes , diffamatoires ou calomnieux ; favorise une copie illégale ou non autorisée d' œuvres protégées d'une autre personne , par exemple en fournissant des programmes informatiques piratés ou des liens vers eux, des informations pour éviter les dispositifs de protection contre la copie fabrication installé , ou fournir de la musique ou de la vidéo ou des liens vers des fichiers piratés ;</p>

<p>Favorise ou promeut toute activité ou entreprise criminelle ou fournit des instructions sur des activités illégales, y compris, mais sans s'y limiter, la fabrication ou l' achat d'armes illégales , la violation de la vie privée d'une personne, ou la fourniture ou la création de virus informatiques; et implique des activités commerciales et / ou des ventes sans notre consentement écrit préalable tels des concours , sweepstakes, échanges , publicité, ou des opérations pyramidales .</p>

<p>De plus, vous acceptez de ne pas utiliser les Services pour participer à :
activité criminelle ou délictuelle , y compris la pornographie enfantine, la fraude , trafic de matériel obscène , le trafic de drogue , le jeu , le harcèlement , le harcèlement , le spamming, l'envoi de virus ou autres fichiers nuisibles , la violation du droit d'auteur , contrefaçon de brevet , ou de vol de secrets commerciaux ou de violation de la vie privée ou aux droits de tiers;</p>

<p>Publicité ou la sollicitation d'un Utilisateur à acheter ou à vendre des produits ou services par le biais des Services. Vous ne pouvez pas transmettre des chaines de lettres ou de courrier indésirable à d'autres utilisateurs. Il est également une violation de ces règles à utiliser toute information obtenue par les services afin de contacter, annoncer, solliciter ou vendre à tout utilisateur sans son consentement explicite préalable. Afin de protéger nos utilisateurs de ce type de publicité ou de sollicitation, <b>Solution ADN</b> se réserve le droit de restreindre le nombre d'emails qu'un utilisateur peut envoyer à d'autres utilisateurs ;</p>

<p><b><h4>7. Confidentialité.</h4></b></p>

<p>Vous acceptez les termes de la Politique de confidentialité de Solutionadn.com.</p>

<p><b><h4>8. Liens vers d'autres sites.</h4></b></p>

<p>Le site contient des liens vers des sites Web qui ne sont pas exploités ou maintenus par <b>solution ADN</b>. Ces liens sont fournis uniquement pour votre commodité et non comme une approbation par de <b>Solution ADN</b> du contenu de ces sites Web de tiers .</p> 

<p><b>Solution ADN</b> n'est pas responsable du contenu des sites des autres et ne fait aucune représentation quant au contenu ou à l'exactitude du matériel sur ces sites. Si vous décidez d'accéder à des sites liés tiers Web , vous le faites à vos propres risques , et renoncez à toute réclamation contre <b>Solution ADN</b> concernant l'inclusion de liens vers des sites Web extérieurs ou de votre utilisation de ces sites Web .</p>

<p><b><h4>9. Autres termes Divers.</h4></b></p>

<p>Si une clause du présent accord se trouve inapplicable, les autres clauses resteront en vigueur et de plein effet.</p>

<p>Cet Accord constitue l’intégralité de l'accord entre vous et <b>solution ADN</b> concernant l'utilisation des Services.</p>

<p>En date du 1 juin, 2014</p>
</div>