<% provide(:title, 'Index des Résultats') %>
<h1 class="text-center"><%= t(:resultat_index) %></h1>
</br>
<%= render 'evaluations_equipe' %>
  </br>
  </br>
<%= render 'evaluations_individual' %>