
Dans les prochaines minutes, vous recevrez un email contenant un lien de confirmation. Vous devez vérifier votre adresse
e-mail pour accéder à votre compte en cliquant sur ce lien et suivez les instructions pour vérifier votre compte.<br/>
<br/>
S'il vous plaît ajoutez info@solutionadn.com comme expéditeur en sécurité dans votre logiciel de messagerie.
Assurez-vous de vérifier votre dossier de courrier indésirable pour s'assurer que le courriel n'a pas été marquée comme
indésirable / spam. <br/>
<br/>
Si vous n'avez pas reçu votre e-mail de confirmation dans les prochaines 24h s'il vous plaît contactez-nous directement
à info@solutionadn.com et nous activerons votre compte pour vous.<br/>
<br/>
<% if Rails.env.development? %>
    <pre class="debug_dump">
    <%=t :user_registration_url%> : <a href='<%= @registrationUrl %>'><%= @registrationUrl %></a>
    </pre>
<% end %>
