<% if @user.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error">
      <%= I18n.t(:general_form_error) %> <%= pluralize(@user.errors.count, I18n.t(:general_error)) %>.
    </div>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li>* <%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>