<br><br><br><br><br><br><br><br><br><br><br><br>
<div>
Salut
<br><br>
<%= render 'index' %>
<%= link_to "Edit", "ajax/edit/", remote: true, class: "btn" %>
</div>


<div id="product-modal" class="modal fade">
  <div class="modal-dialog">
    <div id="inner-product-modal" class="modal-content"></div>
  </div>
</div>