<% provide(:title, t(:equipes_types_title)) %>
<div class="margin-bottom">
<h1 class="text-center"><%= t(:equipe_type_edit) %></h1>
</div>

<%= render 'form' %>

<%#= link_to t(:equipe_type_index), equipe_types_path %>